# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
env/
*.sqlite3

# Docker
**/docker-compose.override.yml

# Node
**/node_modules/
**/dist/
**/.next/

# Certificates, secrets
*.key
*.crt
*.csr

# Editor
.vscode/
.idea/
*.swp
